/* set color scheme */
:root {

    --prim: darkgreen;
    --sec: black;
    --tri: white;
}

/* no margin/borders for all element  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Style Start */

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-image: url('../images/hero-wave.jpg');
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: sticky;
    top:0;
    z-index: 9999;
}

header h1 {
    width: 40%;
    color: var(--prim);
    padding: 10px 0 0 15px;

}

header h2 {
    width: 100%;
    text-align: right;
    color: var(--prim);
    padding: 0 30px 0 0 ;
}

header nav ul {
    text-align: right;
    display: flex;
    list-style-type: none;
    justify-content: center; 
    padding: 20px ;     
}

header nav ul li {
    padding: 0 20px 0 20px;
    color: var(--tri);
}

header nav ul li a {
    color: var(--tri);
    text-decoration: none;
    font-size: large ;
    font-weight: bold;   
}

header nav {
    width: 60%;
    

}
/* Header Style End  */
.hero {
    background-image: url("../images/hero-wave.jpg");
    height: 450px;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;   
}

/* Hero Style Start */

/* Hero Style End */

/* About Me Style Start */
#about-me {
    width: 100%;
    background-image: url(../images/deep-ocean.jpg);
    
    
}

.aboutme-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.profile-img {
    width: 25%;
    height: auto;
    
}

.aboutme-text{
    width: 30%;
    
}

.aboutme h2 {
    color: var(--tri);
}

#img1, #img2 {

    width: 100%;
    max-height:800px ;
    margin: auto;
}






/* About Me Style End */

/* ShowCase Style Start */
#my-work {
    background-image: url(../images/ocean-floor.jpg);
    background-size: 100% 100%;
    background-position: bottom;
}

.showcase-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#big-link {
    width: 100%;
}

.small-link div {
    height: 300px;
    width: 300px;
    margin: 10px auto;
}

#Run-Buddy {
    background-image: url("../images/hero-bg.jpg");  
    height: 600px;
    max-width: 800px;
    margin: auto ;
    background-size:100% 100%; 
}

#Horiseon {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: 100% 100%;   
}

#Robot-Gladiator {
    background-image: url("../images/robot-gladiator.jpg");
    background-size: 100% 100%;   
}

#Coming-Soon {
    background-image: url("../images/coming-soon.jfif");
    background-size: 100% 100%;   
}

.small-link {
    width: 33% ;
    margin: auto;
}

.showcase-child {
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: 15px;
}
/* ShowCase Style End */

/* Footer Style Start */
footer {
    background-image: url("../images/footer-bg.png"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position:center ;
    width: 100%;
    height: 150px;
    background-color: var(--sec);

}

footer h2 {
    width: 100%;
}

.footer-wrap {
    display: flex;
    flex-flow: row wrap;
}

.footer-child {
    width: 50%;
    text-align: right;
}

footer p , footer a {

    color: var(--tri);
}

footer h2 , footer h3 {

    color: var(--prim);
}





/* Footer Style End */